<div class="flex">
    <div class="container">
      <h1>{{ titulo }}</h1>
      <div class="imagem_flut">
        <img src="{{ usuario.img }}">
      </div>
      <div class="nova_viagem">
        <button mat-raised-button color="primary" (click)="addViagem()">Adicionar Viagem</button>
      </div>
      <div class="description">
        {{ usuario.descricao }}
      </div>
      <div class="historico_viagem">
        <button mat-raised-button color="primary" routerLink="/perfil/historico-viagem">Histórico de Viagens</button>
      </div>
    </div>
</div>