.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1250px;
    /*max-height: 800px;*/
    min-height: 500px;
    border-radius: 25px;
    background: #FFF0AA;
    margin-top: 50px;
}

h1{
    text-align: center;
    color: #4F628E;
    margin-top: 25px;
}

.nova_viagem{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.historico_viagem{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.description{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
    background: #4F628E;
    margin-top: 30px;
    min-height: 300px;
    color: white;
    padding: 0 50px;
    font-size: 30px;
    line-height: 40px;
    font-family: 'ZCOOL KuaiLe', cursive;
    letter-spacing: 3px;
}

.imagem_flut{
    position: relative;
}

.imagem_flut img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    position: absolute;
    left: 110px;
    border: solid 1px #4F628E;
}