/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: url('https://i.pinimg.com/originals/91/05/f6/9105f6e12d384f2804d906b7b54ca7cb.gif'); 
    background-size: cover; 
    background-position: center;
}