<form class="form_viagem">
    <h1>{{ titulo }}</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="usuario.nome" name="nome">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>URL da Imagem</mat-label>
        <input matInput [(ngModel)]="usuario.img" name="img">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Descrição</mat-label>
        <input matInput [(ngModel)]="usuario.descricao" name="descricao">
    </mat-form-field>
    <div class="salvar_usuario">
        <button type="submit" (click)="addUsuario()" [mat-dialog-close]="true" mat-raised-button color="primary">Adicionar</button>
    </div>
</form>