.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1250px;
    /*max-height: 800px;*/
    min-height: 500px;
    border-radius: 25px;
    background: #FFF0AA;
    margin-top: 50px;
}

.search{
    width: 1100px;
    margin: 0 auto;
    padding-top: 25px;
}

.search input{
    width: 100%;
    border-radius: 25px;
    background: #4F628E;
    color: white;
    padding: 10px 0 10px 20px;
    box-shadow: none;
    border: none;
    font-size: 18px;
}

.search input:focus-visible{
    outline: unset;
}

::-webkit-input-placeholder {
    color: white;
}

.grid-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px !important;
    margin: 0 10px;
}

#home{
    position: absolute;
    top: 25px;
    right: 25px;
    color: #FFF0AA;
    background: #4F628E;
}