<div class="flex">
    <div class="container">
      <h1>{{ titulo }}</h1>
      <div class="grid-card">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let viagem"> {{viagem.id}} </td>
          </ng-container>
          <ng-container matColumnDef="datav">
            <th mat-header-cell *matHeaderCellDef> Data da Viagem </th>
            <td mat-cell *matCellDef="let viagem"> {{viagem.dataCriacao | date: 'dd/MM/yyyy HH:mm'}}</td>
          </ng-container>
          <ng-container matColumnDef="origem">
            <th mat-header-cell *matHeaderCellDef> Origem </th>
            <td mat-cell *matCellDef="let viagem"> {{viagem.origem}} </td>
          </ng-container>
          <ng-container matColumnDef="destino">
            <th mat-header-cell *matHeaderCellDef> Destino </th>
            <td mat-cell *matCellDef="let viagem"> {{viagem.destino}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
</div>