<form class="form_viagem">
    <h1>{{ titulo }}</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Origem</mat-label>
      <input matInput [(ngModel)]="viagem.origem" name="origem">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Destino</mat-label>
        <input matInput [(ngModel)]="viagem.destino" name="destino">
    </mat-form-field>
    <div class="salvar_viagem">
        <button type="submit" (click)="addViagem()" [mat-dialog-close]="true" mat-raised-button color="primary">Viajar!</button>
    </div>
</form>