.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1250px;
    /*max-height: 800px;*/
    min-height: 500px;
    border-radius: 25px;
    background: #FFF0AA;
    margin-top: 50px;
}

.search{
    width: 80%;
}

.grupo_search{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search input{
    width: 95%;
    border-radius: 25px;
    background: #4F628E;
    color: white;
    padding: 10px 0 10px 20px;
    box-shadow: none;
    border: none;
    font-size: 18px;
}

.search input:focus-visible{
    outline: unset;
}

::-webkit-input-placeholder {
    color: white;
}

.mat-raised-button{
    line-height: 0;
}

.mat-grid-list{
    width: 1000px;
    margin: 0 auto;
}

.mat-card{
    margin: 0 10px;
}

.mat-grid-list{
    margin-top: 30px;
}

.mat-card-image{
    margin-bottom: 0;
    height: 230px;
    object-fit: cover;
}

.mat-card-actions{
    text-align: center;
}

.mat-card-header{
    justify-content: center;
    text-align: center;
}

h1{
    text-align: center;
    color: #4F628E;
    margin-top: 25px;
}

h2{
    text-align: center;
    color: #4F628E;
    margin-top: 0;
}

.mat-card>.mat-card-actions:last-child{
    margin-bottom: 0;
}

.add_user{
    color: #FFF0AA;
    background-color: #4F628E;
}