<div class="flex">
  <div class="container">
    <h1>{{ titulo }}</h1>
    <div class="grupo_search">
      <div class="search">
        <input type="text" placeholder="Buscar..." value="" [(ngModel)]="busca" (keyup)="atualizaStatus()">
      </div>
      <button mat-mini-fab color="accent" class="add_user"  (click)="addUsuario()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <mat-grid-list cols="4" rowHeight="350">
      <ng-container *ngFor="let usuario of observableData | async">
        <mat-grid-tile>
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{usuario.nome}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{usuario.img}}" alt="{{usuario.nome}}">
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="verPerfil(usuario.id)">Escolher</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
    <mat-paginator [pageSizeOptions]="[8, 12, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>